<!-------------------------------------------------------------------------------------------
-                                                                                            
-         Name :      SandboxAuthConf
-       Author :      Pratyush (Infosys Limited)                                              
-  Description :  Developed for Sandbox Manager AppExchange product                           
-                 PAge meant for confirmation of authentication by user
-                                                                                             
-         © 2016 Infosys Limited, Bangalore, India. All rights reserved.                      
-         No part of this code should be used without prior written consent from the author
-------------------------------------------------------------------------------------------->
<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" id="thePage">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.infy_sm__SLDS0102, 'assets/styles/salesforce-lightning-design-system-vf.css')}"/>
        </head>
        <body>
            <div class="slds">
                <div class="slds-page-header" role="banner">
                    <div class="slds-grid">
                        <div class="slds-col">
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <img src="{!URLFOR($Resource.SMIcon)}"/>
                                </div>
                                <div class="slds-media__body">                                    
                                    <h1 class="slds-text-heading--large">Sandbox Manager</h1>
                                    <p class="slds-text-heading--label">Infosys Limited</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="slds-grid slds-m-top--large">
                    <div class="slds-col slds-box slds-tile">
                        <h3 class="slds-text-heading--medium slds-text-align--center slds-m-around--medium slds-tile__title">Warning</h3>
                        <div class="slds-tile__detail slds-text-body--small">
                            <p class="slds-text-heading--small slds-text-align--center">If you connect to a different remote instance, the existing sandbox information might be lost.</p>
                            <p class="slds-text-heading--small slds-text-align--center">Do you wish to continue?</p>
                            <p class="slds-text-heading--small slds-text-align--center">Please ignore if you are connecting to a remote instance for the first time.</p>
                            
                            <button class="slds-button slds-button--destructive slds-m-around--large" style="position: relative; left: 25%;" onclick="window.location = '/home/home.jsp'">No</button>
                            <button class="slds-button slds-button--brand slds-m-around--large" style="position: relative; left: 60%;" onclick="window.location = '/apex/SandboxAuth'">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        
    </html>
</apex:page>